.navbar
{
}  

.mainDiv
{
  width:185px;
}

.topItem
{
		width:160px;
		height:18px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button.jpg);
		background-repeat:no-repeat;
}

.topItemOver
{
  width:160px;
		height:18px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button_hover.jpg);
		background-repeat:no-repeat;
}

.topItemClose
{
 
		width:160px;
		height:18px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button.jpg);
		background-repeat:no-repeat;
}


.topItemCloseOver
{
      width:160px;
		height:18px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button_hover.jpg);
		background-repeat:no-repeat;
}



.dropMenu
{
  
  filter:alpha(opacity=100);
  
}

.subMenu
{
   display:none;
}

.subItem
{
   width:160px;
		height:15px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button.jpg);
		background-repeat:no-repeat;
   
}

.subItem a
{
   margin-left:23px;
  // font: 11px tahoma,verdana,sans-serif;	 	
   text-decoration:none;
   
}

.subItemOver
{
   width:160px;
		height:18px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button_hover.jpg);
		background-repeat:no-repeat;
}

.subItemOver  a
{
   width:160px;
		height:18px;
		float: left;
		margin:0px;
		padding:5px 0 5px 19px;
		font-family:Arial;
		font-size:15px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/button_hover.jpg);
		background-repeat:no-repeat;
}


.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}




